@import "/src/app/style/vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  .main-container {
    height: calc(100vh - $navbar-height);
    margin-top: $navbar-height;
    overflow: auto;

    &-content {
      padding: 24px;
    }
  }
}
